@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav {
  height: 70px;
}

nav img {
  width: 6em;
  margin-top: 2em;
  margin-left: 2em;
}

.section {
  background-color: #F7DC6F;
  height: 100vh;
}

.section p {
  margin-right: 2em;
}

body {
  font-family: sans-serif;
}

main {
  margin: 2em;
}

.book {
  margin-top: 2em;
  width: 80%;
}

.sentence {
  margin-top: 3em;
  font-size: 1em;
  margin-bottom: 4em;
}

.link {
  font-size: 2em;
  font-weight: bold;
  color: blue;
  text-decoration: none;
  border-bottom: 3px solid blue;
  padding: .5em;
}

footer p {
  padding-top: 3em;
  font-size: 0.8em;
  margin-top: 3em;
  font-size: 1em;
  margin-bottom: 4em;
}

.book2 {
  display: none;
  width: 100%;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 3em;
  margin-top: 1em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.story {
  margin: 2em;
}

.paragraph {
  font-size: .9em;
  line-height: 2;
  max-width: 33em;
}
.button {
  margin-top: 3em;
}

.vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
}

footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #F7DC6F;
  height: 70px;
  position: relative;
  padding: 2em;
}

footer a{
  position: absolute;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: black;
  text-decoration: none;
}

.insta {
  width: 1.7em;
}

.insta2 {
  right: 2em;
}

@media only screen and (min-width: 48em) {

  h1 {
    padding-top: .5em;
    font-size: 3em;
    max-width: 900px;
    margin: 0 auto;
  }

  .book {
    display: none;
  }
  .book2 {
    display: block;
  }

  .sentence {
    margin-top: 1em;
  }

}
