@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav {
  height: 70px;
}

nav img {
  width: 7em;
  margin-top: 2em;
  margin-left: 50%;
  transform: translateX(-50%);

}

main {
  font-family: sans-serif;
  text-align: center;
  margin: 3em;
  margin-top: 2em;
}

.book {
  margin-top: 2em;
  width: 80%;
}

.sentence {
  margin-top: 3em;
  font-size: 1em;
  margin-bottom: 4em;
}

.link {
  font-size: 2em;
  font-weight: bold;
  color: blue;
  text-decoration: none;
  border-bottom: 3px solid blue;
  padding: .5em;
}

footer p {
  padding-top: 3em;
  font-size: 0.8em;
  margin-top: 3em;
  font-size: 1em;
  margin-bottom: 4em;
}

.book2 {
  display: none;
  width: 100%;
}

.shopify-buy-frame {
  margin: 0 auto;
}

.shopify-buy__btn {
  margin: 0 auto;
}

@media only screen and (min-width: 48em) {

  h1 {
    padding-top: .5em;
    font-size: 3em;
    max-width: 900px;
    margin: 0 auto;
  }

  .book {
    display: none;
  }
  .book2 {
    display: block;
  }

  .sentence {
    margin-top: 1em;
  }

}
